*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tahoma', sans-serif;
    background-color: #ffffff;
}



.titulo{
    margin-top: 3px;
    height: 610px;
    width: 100%;
    background-image: url('assets/design1_image1.jpg');
    background-size: cover;
    border-radius: 10px;
}


.titulo-reducido{
    margin-top: 3px;
    height: 170px;
    width: 100%;
    background-image: url('assets/design1_image1.jpg');
    background-size:auto;
    border-radius: 10px;
}


h1{
    display: flex;
    font-size:65px;
    font-weight: 100;
    color: #F8E12e;
    justify-content: center;
}

.separador{
    display: block;
    border-radius: 10px;
    background-color: #211915;
    color: white;
    padding: 10px 0;
    text-align: center;
}


.subt{
    font-size: 16px;
    margin: 10px 25px;
}

h3{
    display: block;
    font-weight: lighter;
    margin: 20px 20px;
}

.logo{
    width: 150px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 5px 0;
    border: solid;
    background-color: #5FA199;
    border-radius: 10px;
    
}

.btn{
    border: 1px solid #925040;
    background-color: #F8E12E;
    color: #211915;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-weight:bold;
    border-radius: 7px;
}

#ocultar{
    display: none;
}

.section-content{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}


#contact-text{
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.strong-txt{
    padding: 12px 10px;
    margin-left: 20px;
}

.simple-txt{
    display: inline-block;
    margin: 10px 25px;
    text-indent: 40px;
} 

ol{
    margin-left: 40px;
}

li{
    margin: 15px 20px;
}

.lista-des{
    margin: 15px 30px;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
