*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Tahoma', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeee9;
}

.titulo{
    margin-top: 3px;
    height: 610px;
    width: 100%;
    background-image: url('assets/design1_image1.jpg');
    background-size: cover;
    border-radius: 10px;
}


.titulo-reducido{
    margin-top: 3px;
    height: 170px;
    width: 100%;
    background-image: url('assets/design1_image1.jpg');
    background-size:auto;
    border-radius: 10px;
}


h1{
    display: flex;
    font-size:65px;
    font-weight: 100;
    color: #F8E12e;
    justify-content: center;
}

.separador{
    display: block;
    border-radius: 10px;
    background-color: #211915;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h3{
    display: block;
    font-weight: lighter;
    margin: 20px 20px;
}

.logo{
    width: 150px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 3px 0;
    border: solid;
    background-color: #5FA199;
    border-radius: 10px;
    flex-wrap: wrap;
    
}

.btn{
    border: 1px solid #925040;
    background-color: #F8E12E;
    color: #211915;
    padding: 8px 20px;
    margin: 5px 10px;
    text-decoration: none;
    font-weight:bold;
    border-radius: 7px;
}

#ocultar{
    display: none;
}

#contact-text{
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.subt{
    font-size: 18px;
    margin: 30px 25px;
    
}
.strong-txt{
    padding: 8px 10px;
    margin-left: 20px;
}

.simple-txt{
    display: inline-block;
    margin: 10px 25px 15px;
    text-indent: 40px;
} 

.parrafo{
    display: inline-block;
    margin: 10px 25px;
    text-indent: 40px;
    font-size: 15px;
}

ol{
    margin-left: 40px;
    font-size: 15px;
}

li{
    margin: 15px 20px;
}

.lista-des{
    margin: 15px 30px;
    font-size: 15px;
    list-style-type: circle;
}

th{
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid;   
}

td{
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid;
}

.tabla{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centrar-fecha{
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

fieldset{
    margin: 15px 20px;
    border:1px solid;
}

legend{
    margin: 20px;
}

label{
    margin: 2px 5px;
}

input{
    margin: 15px 1px;
}

#btn-enviar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#submit, #reset{
    padding: 8px 20px;
}


select{
    margin: 20px 8px;
}

.ayuda{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.location{
    margin: 10px 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.location iframe{
    margin: 10px 0;
}

/* .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */